@import "../partials/variables.scss";
@import "../partials/mixins.scss";

body {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  background-color: $color1;
}

.bottom_bar {
  @include position1(absolute, 20%, 12%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .info_container {
    max-width: 1122px;
    height: 500px;
  }
  .bottom_bar_overlay {
    @include position1(absolute, 0%, 0%);
    width: 100%;
    height: 87px;
    background-color: rgba(0, 0, 0, 0);
    @include grid(grid, 1fr 1fr 1fr);
  }

  .total_bet_buttons {
    @include grid(grid, 1.2fr 2fr 1fr);
  }

  .spins_buttons {
    @include grid(grid, 0.8fr 1.7fr 1.5fr);
  }
  .info_btn {
    @include infoBtn;
    position: absolute;
    top: 25%;
    left: 5%;
    background-color: $color7;
    border: 6px solid $color8;
    &:hover {
      @include backgroundClickedColor;
    }
  }
  .bets_box {
    @include grid(grid, 1.5fr 2fr 0.8fr);
    @include setContainer(50px, 25px, 25px);
    background-color: $color0;
    .minus_btn {
      @include betBtn;
      border: none;
      display: inline-block;
      @include margins(2px 0 0 5px);
      &:hover {
        @include backgroundClickedColor;
      }
    }
    .plus_btn {
      @include betBtn;
      border: none;
      display: inline-block;
      @include margins(2px 5px 0 0);
      &:hover {
        @include backgroundClickedColor;
      }
    }
    .text_area {
      font-size: $font-size;
      color: $color4;
      display: inline-block;
    }
    .text_area2 {
      font-size: $font-size2;
      color: $color9;
      display: inline-block;
    }
  }
  .coins_pannel {
    height: 50px;
    @include margins(25px 0 0 2px);
    background-color: $color0;
    border-radius: 25px;
    text-align: center;
    .coins {
      font-size: $font-size;
      color: $color4;
    }
    .coins_amount {
      font-size: $font-size;
      color: $color9;
    }
  }
  .GoodLuck_pannel {
    background-color: $color0;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-width: 10px;
    border-style: solid;
    background: linear-gradient($color0, $color0) padding-box,
      linear-gradient(45deg, rgba(241, 158, 0, 1) 0%, rgba(186, 55, 0, 1) 100%);
    border-color: transparent;
    .pannel_msg {
      display: inline-block;
      font-size: $font-size3;
      color: $color2;
      z-index: 2;
    }
  }
  .turbo_box {
    position: relative;
    @include setContainer(40px, 30px, 25px);
    background-color: #0c4206;
    box-shadow: 0 0 0 2px #733800;
    z-index: 0;
    .turbo_btn {
      margin-left: 3.5px;
      font-size: 15px;
      box-shadow: 0 0 0 4px $color0;
      color: $color3;
      background-color: $color11;
      border-radius: 25px;
      font-weight: bold;
      border-color: transparent;
      &:hover {
        @include backgroundClickedColor;
      }
    }
  }
  .select_spins {
    position: relative;
    background-color: $color11;
    @include setContainer(40px, 25px, 20px);
    margin-left: 5px;
    box-shadow: 0 0 0 5px #733800;
    .dropBtn {
      width: 75%;
      height: 40px;
      font-size: $font-size2;
      border-radius: 20px;
      font-weight: bold;
      color: $color3;
      background-color: $color11;
      border-color: transparent;
      &:hover {
        @include backgroundClickedColor;
      }
    }
    .dropdown_content {
      background-color: $color0;
      border-radius: 15px;
      border: 3px solid #a85400;
      box-shadow: 0px 0px 3px #703600;
      position: absolute;
      z-index: 1;
      width: 150px;
      text-align: left;
      bottom: 100%;
      a {
        margin: 0;
        padding: 0;
        margin-left: 20px;
        font-size: $font-size;
        text-decoration: none;
        list-style: none;
        color: #e4aa02;
      }
    }
  }
}
.auto_spun_btn_overlay {
  position: absolute;
  bottom: 15%;
  right: 18.2%;
  z-index: 2;
  .auto_overlay_btn {
    position: absolute;
    right: 10%;
    top: 15%;
    background: transparent;
    border: transparent;
    cursor: pointer;

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }
  }
}

//Classes used in javascript
.auto_animation {
  animation: rotation 2s forwards;
}
.btn_move_down {
  position: absolute;
  bottom: 0;
}
