// Colors
$color0: #000000;
$color1: #6a3505;
$color2: #ffe400;
$color3: #793d01;
$color4: #ff6972;
$color5: #1c9d08;
$color6: #2f0000;
$color7: #a05600;
$color8: #331900;
$color9: #e9bb00;
$color10: #7c0000;
$color11: #eb9700;

// Font Sizes
$font-size: 13px;
$font-size2: 21px;
$font-size3: 48px;
